NET "clk" LOC = K15;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" TNM_NET = "clk";
TIMESPEC TS_CLK_66MHZ = PERIOD "clk" 15000 ps INPUT_JITTER 1000 ps;
NET "led[0]" LOC = P4;
NET "led[0]" IOSTANDARD = LVCMOS18;
NET "led[0]" DRIVE = 8;
NET "led[0]" SLEW = SLOW;
NET "led[1]" LOC = L6;
NET "led[1]" IOSTANDARD = LVCMOS18;
NET "led[1]" DRIVE = 8;
NET "led[1]" SLEW = SLOW;
NET "led[2]" LOC = F5;
NET "led[2]" IOSTANDARD = LVCMOS18;
NET "led[2]" DRIVE = 8;
NET "led[2]" SLEW = SLOW;
NET "led[3]" LOC = C2;
NET "led[3]" IOSTANDARD = LVCMOS18;
NET "led[3]" DRIVE = 8;
NET "led[3]" SLEW = SLOW;
NET "reset" LOC = V4;
NET "reset" IOSTANDARD = LVCMOS33;
NET "reset" PULLDOWN;
CONFIG VCCAUX  = 3.3;
NET "count[26]" KEEP = "TRUE";
NET "count[0]" KEEP = "TRUE";
NET "count[1]" KEEP = "TRUE";
NET "count[2]" KEEP = "TRUE";
NET "count[3]" KEEP = "TRUE";
NET "count[4]" KEEP = "TRUE";
NET "count[5]" KEEP = "TRUE";
NET "count[6]" KEEP = "TRUE";
NET "count[7]" KEEP = "TRUE";
NET "count[8]" KEEP = "TRUE";
NET "count[9]" KEEP = "TRUE";
NET "count[10]" KEEP = "TRUE";
NET "count[11]" KEEP = "TRUE";
NET "count[12]" KEEP = "TRUE";
NET "count[13]" KEEP = "TRUE";
NET "count[14]" KEEP = "TRUE";
NET "count[15]" KEEP = "TRUE";
NET "count[16]" KEEP = "TRUE";
NET "count[17]" KEEP = "TRUE";
NET "count[18]" KEEP = "TRUE";
NET "count[19]" KEEP = "TRUE";
NET "count[20]" KEEP = "TRUE";
NET "count[21]" KEEP = "TRUE";
NET "count[22]" KEEP = "TRUE";
NET "count[23]" KEEP = "TRUE";
NET "count[24]" KEEP = "TRUE";
NET "count[25]" KEEP = "TRUE";
